{% extends "base.html" %}

{% block title %}
Test
{% endblock %}

{% block content %}
<link 
    rel="stylesheet"
    href="{{ url_for('static', filename='css/template.css') }}"/>

<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-md-4 mt-5">

            <div id="formAndQuestions">
                
                <form id="documentForm" hx-post="{{ url_for('main.submit_document') }}" hx-target="#swapArea" hx-swap="outerHTML">
                
                <div id="swapArea">

                    <i class="bi bi-pencil-square" style="font-size: 2rem;"></i>
                
                    <h2 class="h3 mb-3 fw-normal">Elige tipo de Documento:</h2>
                
                    <div class="mb-3">
                        <select class="form-control" 
                            id="documentType"
                            name="documentType"
                            hx-get="/get_sub_document_types"
                            hx-target="#subDocumentTypeDiv"
                            hx-trigger="change">
                            
                            <option value="" selected disabled>Tipo de Documento...</option>
                            {% for document_type in document_types %}
                            <option value="{{ document_type.id }}">{{ document_type.label }}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="mb-3">
                        <div id="subDocumentTypeDiv" hx-get="/get_payment_types" hx-target="#paymentTypeDiv" hx-trigger="change"></div>
                    </div>

                    <div class="mb-3">
                        <div id="paymentTypeDiv"></div>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
                
                </div>
                </form>
            </div>
        </div>

        <div class="col-md-8 mt-5 shadow-lg p-3 bg-white rounded">
            <div id="templateDisplay"></div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/dynamic_form.js') }}"></script>
<script src="{{ url_for('static', filename='js/live_update.js') }}"></script>
<script src="{{ url_for('static', filename='js/answers_submission.js') }}"></script>
{% endblock %}