{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container border border-danger">
        
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <img class="col-4 mx-auto img-fluid rounded float-center shadow" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExc21qN2lnNm83M3ExcDY4Z2VzMDhuZjUycWMybHg1cThvOGZ1c2NqbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/yNMu1n4ci9uLOn1D6E/giphy.gif" alt="">
            <h1 class="h5 mb-3 fw-bold col-4 mx-auto border border-danger">
                Inicia sesión
            </h1>
            <div class="col-4 mx-auto border border-danger">
                {{ form.username.label() }}
                {{ form.username(class="form-control shadow", placeholder="Usuario o email") }}

                {{ form.password.label() }}
                {{ form.password(class="form-control shadow", placeholder="Contraseña") }}
            </div>
            <br>
            <div class="d-grid gap-3 col-4 mx-auto border border-danger">

                {{ form.submit(class="btn btn-block btn-primary shadow") }}
            
                <a class="btn btn-info shadow" href="{{ url_for('auth.register') }}">Registrarse</a>
            </div>

        </form>
    </div>
</body>
{% endblock %}