{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<link 
rel="stylesheet"
href="{{ url_for('static', filename='css/Login_form.css') }}"/>

<body class="text-center">
    <div class="wrapper">
        <div class="logo">
            <img src="https://www.freepnglogos.com/uploads/logo-chatgpt-png/chatgpt-png-9.png" alt="Logo">
        </div>
        <h1 class="text-center mt-4 name">Please Create your Account</h1>
        <form method="POST" class="p-3 mt-3">
            {{ form.hidden_tag() }}

            <div class="form-field d-flex align-items-center mb-3">
                {{ form.username(class="form-control", placeholder="User Name", id="userName") }}
            </div>
            
            <div class="form-field d-flex align-items-center mb-3">
                {{ form.name(class="form-control", placeholder="Name", id="name") }}
            </div>

            <div class="form-field d-flex align-items-center mb-3">
                {{ form.lastname(class="form-control", placeholder="Last Name", id="lastName") }}
            </div>

            <div class="form-field d-flex align-items-center mb-3">
                {{ form.email(class="form-control", placeholder="Email Address", id="email") }}
            </div>

            <div class="form-field d-flex align-items-center mb-3">
                {{ form.password1(class="form-control", placeholder="Password", id="password1") }}
            </div>

            <div class="form-field d-flex align-items-center mb-3">
                {{ form.password2(class="form-control", placeholder="Confirm Password", id="password2") }}
            </div>

            <button type="submit" class="btn mt-3">Register</button>

            <div class="text-center mt-4 name">
               <h6>Already have an account?</h6>
            </div>
               <a class="btn mt-3" href="{{ url_for('auth.login') }}">Login</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}