{% extends "base.html" %}

{% block title %}
Test
{% endblock %}

{% block content %}

<div class="container mt-auto text-center">

    <div class="row justify-content-center">

        <div class="col-md-4 mt-5">

            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 20px; min-height: 500px;">

                <form action="/document_type" method="POST">
                    
                    {{ form.hidden_tag() }}
                
                    <i class="bi bi-pencil-square" style="font-size: 2rem;"></i>
                
                    <h2 class="h3 mb-3 fw-normal">Elige tipo de Documento:</h2>
                
                    <div class="mb-3">
                        <select class="form-control" id="documentType" name="documentType">
                            {% for document_type in document_types %}
                            <option value="{{ document_type.id }}">{{ document_type.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <button class="btn btn-primary w-100 py-2" type="submit">Inicio</button>
                
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}